table{
    background: black;
    border: 2px solid black;
    width: 70%;
    height: 400px;
    margin: 0 auto;
    color: white;
    text-align: center;
    
    
}
tr{
    border: 2px solid;
    padding: 2px;
    background: blue;
    font-size: 20px;
}

h1{
    text-align: center;
    padding: 10px 10px;
    background: green;
    color: whitesmoke;
}
